@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  /* outline: red 1px solid; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 30px !important;
}

body {
  color: #fff;
  background-color: #0e171b;
}

.animateScrollTo {
  animation: animateScrollTo 2s infinite;
  -webkit-animation: animateScrollTo 2s infinite;
}

.backdrop-saturate-150 {
  --tw-backdrop-saturate: none;
}

.swiper {
  width: 100%;
  height: 100%;
  background: transparent;
  padding-bottom: 60px !important;
  /* display: flex !important;
  align-items: center !important;
  justify-content: center !important; */
}

/* .swiper-slide {
  margin: 0 auto;
} */

.active {
  background-color: #14a7ea !important;
}

.swiper-pagination {
  margin: 0 auto;
  width: 75px !important;
  overflow: hidden;
}

.swiper-pagination-bullet-active-main {
  padding: 9px;
}
.swiper-pagination-bullet-active-prev-prev {
  display: none !important;
}
.swiper-pagination-bullet-active-next-next {
  display: none !important;
}

.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  padding: 8px !important;
}

.swiper-pagination-bullet {
  background-color: #14a7ea !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes animateScrollTo {
  0%,
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  50% {
    transform: translateX(-7px);
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    -ms-transform: translateX(-7px);
    -o-transform: translateX(-7px);
  }
}

@media (min-width: 667px) {
  *,
  html {
    scroll-padding: 80px auto;
  }
}

@media (max-width: 667px) {
  .x {
    padding-left: 0 !important;
  }
}
